.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

ul {
  display: inline-flex;
  list-style-type: none;
}
.bg-light{
  height: 57px;
  
}
li {
  padding: 2em;
}

.container-fluid
{
  background-color: black;
  padding-top: 3em;
  padding-left: 2em;
}
.navbar-brand
{
  color: red;
  font-size: xx-large;
}
.navbar-brand:hover
{
  color: white;
  font-size: xx-large;
}
.nav-link, .nav-link active
{
  color: red;
  font-size: larger;
}
.nav-link:hover
{
  color: white;
}
/* img {
  height: 300px;
  width: 330px;
} */

.movieimg
{
  height: 300px;
  width: 250px;
  transition: width 2s, height 2s;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.movielist {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  /* background-color: black; */
  padding-top: 20px;
  color: white;
}

.movieimg:hover{
  width: 320px;
  height: 350px;
}

.desciptionpage{
  display: flex;
  margin: 20px;
  padding: 3em;
}
.desimg
{
  height: 400px;
  width: 350px;
  align-self: flex-start;
  margin: 30px;
}
#connect{
  /* background-color: black; */
  color: white;
}
.des{
  margin: 30px;
  text-align: left;
}